---
import { SITE_TITLE, SITE_EMAIL } from "../consts";
const { theme } = Astro.props;
import { SITE_NAME } from "../consts";
const date = new Date();
const year = date.getFullYear();
---

<div class:list={["footer-main", { "footer-dark": theme === "dark" }]}>
  <div class="content-body footer-wraper">
    <div class="footer-box">
      <div class="foot-nav">
        <div class="foot-nav-items">
          <div class="item">
            <div class="logo">{SITE_TITLE}</div>
            <div class="email">Email: {SITE_EMAIL}</div>
          </div>

          <div class="item products">
            <div class="item-title">作品</div>
            <a href="/" target="_blank">本站博客</a>
          </div>

          <div class="item community">
            <div class="item-title">社媒</div>
            <a href="https://github.com/Benn314" target="_blank">Github</a>
          </div>
          
          <div class="item resources">
            <div class="item-title">友链</div>
            <a href="https://ben314.top" target="_blank">Ben</a>
          </div>

        </div>
      </div>
      <div class="bottom">
        <div class="copyright">
          &copy; {`${year} ${SITE_NAME}`} 
        </div>
      </div>
    </div>
  </div>
</div>

<!-- Load TweenLite -->
<script is:inline src="/live2d/TweenLite.js"></script>
<!-- Copyrighted cubism SDK -->
<script is:inline src="/live2d/live2dcubismcore.min.js"></script>
<!-- Load Pixi (dependency for cubism 2/4 integrated loader) -->
<script is:inline src="/live2d/pixi.min.js"></script>
<!-- Load cubism 4 integrated loader -->
<script is:inline src="/live2d/cubism4.min.js"></script>
<!-- Load pio and alternative loader -->
<link href="/live2d/pio.css" rel="stylesheet" type="text/css"/>
<script is:inline src="/live2d/pio.js"></script>
<script is:inline src="/live2d/pio_sdk4.js"></script>
<script is:inline src="/live2d/load.js"></script>
